.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.hide{
  display:none;
}
.show{
  display:block;
}
#presentSubMenu, #futureSubMenu, #aaasubMenu{
  margin-left:12px;
  font-size: 14px;
  color:#5f5c5c;
}
.w3-teal, .w3-hover-teal:hover {
  color: #fff!important;
  background-color: #009688!important;
  height: 50px !important;
}

div.menuDetails ul{
  list-style: none;
  padding:0;
}

div.menuDetails ul li {
  padding:5px 10px;
  background-color: #e4e4e4 ;
  border: 1px solid #ffffff;
}
div.menuDetails{
  border:1px;
  padding:10px;
  box-shadow: 0px 4px 10px #967979;
}
main > div{
  margin:auto;
  max-width: 600px;
}
main{
  padding:70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.w3-teal {
  color: #fff !important;
  background-color: #424242 !important;
}
#closeButton {
  background-color: #afafaf;
}